@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  width:100%
}


#navbar > a.active ,
#navbar > a:hover{
  text-decoration: 3px underline;
  text-underline-offset: 10px;
}

#name {
  color:#d6d6d6;
}

#name > span {
  font-weight: bold;
  color: black;
  display: inline-block;
}
#logo{
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 2rem;
}
#arrow{
  display: block;
  margin: auto;
}
#resume{
  margin: 2% 0;
  padding: 0 3%;
  border: 1px solid black;
  border-radius: 0;
}
#profile{
  background-color: #d6d6d6;
  border-radius: 50%;
}

#profile img{
  display: block;
  margin: 6% auto;
}

.heading {
  font-size: 3rem;
  color: #f3f3f3;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  margin: 0;
  padding: 0;
}

.heading>p:nth-of-type(2){
  color: black;
  position: absolute;
  bottom: 15px;
  font-size: 2.5rem;
  left: 0px;
  letter-spacing: 2px ;
}

.subHead {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  padding: 10px;
}
.subHead:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
#techStack{
  padding: 2%;
}

#contact-icons  img {
  width:  30px;
  height: 30px;
}


#techStack > div{

  padding: 20px;
  border-right:1px solid rgba(0, 0, 0, 0.116);
  border-bottom:1px solid rgba(0, 0, 0, 0.116);

}

#techStack img{
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}


#techStack p{
  color: black;
  font-size: 1.2rem;
  padding: 10px 0;
  letter-spacing: 1px;
  font-family: 'Special Elite', cursive;
}


#skills img{
  width: 30px;
}
#skills > div{
  height: fit-content;
  border: 1px solid rgba(129, 129, 129, 0.103);
  border-radius: 10px;
  padding: 4%;
}
#skills > div > div{
  font-size: 1rem;
  align-items: center;
  gap: 5%;
  border: 1px solid rgba(0, 0, 0, 0.255);
  border-radius: 5px;
  padding: 5px 20px;
  height: 70px;
  grid-auto-flow: column;
}
#skills > div > div:hover{
  background-color: #f3f3f3;
  cursor: pointer;
}

#projects > div{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: left;
}

#projects > div:hover{
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#projects>div>div{
  padding: 10px;
}
.projectbuttons button {
  font-weight: 100;
  width: 100%;
  padding: 0.5rem 1rem;
}
.live{
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
}

.gitCode{
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.projectbuttons button:hover {
  background-color: black;
  color: white;
}


.tech{
  gap: 5px;
  font-size: 15px;
}
.tech > div {
  color: grey;
  border: 2px solid #f3f3f3;
  padding: 0.2rem 1rem ;
}

#statistics {
  justify-content: center;
  align-items: center;
}

#statistics > div {
  justify-content: center;
  align-items: center;
}

#statistics > div >div{
  padding: 20px 20px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-text{
  color: rgba(128, 128, 128, 0.089);
}

.section {
  width: 100%;
  justify-content: center;
}

#contact-section a {
  display: flex;
  align-items: center;
  gap: 10px;
}

#contact-section img{

  width: 50px;
  height: 50px;
}


#contact-list img{
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 480px) {
  .App {
    width: 100%;
  }
}