@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  padding: 0 150px;
}

#logo{
  width: 100px;
}
#arrow{
  display: block;
  margin: auto;
}

.heading {
  font-size: 40px;
  letter-spacing: 2px ;
  text-transform: uppercase;
}